*{
  border: 1px solid red;
}
body {
  background: lightgrey;

}
p {
  font-size: 2em;
  text-align: center;
}

.a{
  background: lightblue;
  margin: 10px;
  
}
.b{
  background: lightcoral;
  margin: 10px;
}

.c{
  background: lightgoldenrodyellow;
  margin: 10px;
}


.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;



}

header,footer {
  flex-grow: 1;
}

main{
  flex-grow: 3;
}

@media(min-width: 600px){
  .container {
    flex-direction: row;
    flex-wrap: wrap;
 
  }

  header {
    width: 100%;
   


  }

  main,footer,header {
    margin: 1em;
    min-height: ;
  }
}